
.contentFrequencia{
    display: flex;
    justify-content: space-between;
}
.contentFrequencia .presenca{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

 .presenca .presente {
    color: rgba(69, 187, 33, 0.479);
    border: none;
    font-size: 17px;
    background-color: transparent;
}
.presenca .falta {
    color: rgba(255, 0, 0, 0.322);
    font-size: 20px;
    
    
    

}
.contentFrequencia .presenca .falta,
.contentFrequencia .presenca .presente:hover{
    cursor: pointer;
} 
.presenca input[type=radio]:checked + .presente {
    color: rgb(69, 187, 33);
}
.presenca input[type=radio]:checked + .falta {
    color: rgb(255, 0, 0);
}
.presenca input[type=radio]{
    display: none;
}
